*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid black;
    font-family: sans-serif;
}

.container-main{
    height: 90vh;
    background-color: #141922;

    display: flex;
    
}
.container-footer{
    height: 10vh;
    background-color: red;
}
.sidebar{
    flex-basis: 10%;
    background-color: black;
}
.main{
    flex-basis: 90%;
    overflow: auto;
}
.main-header{
    padding: 20px;
    color: white;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 1;
}